# Copier en .env et remplir
# MongoDB Atlas : si le mot de passe contient #, le remplacer par %23 dans l'URL
# MONGODB_URI=mongodb+srv://user:password@cluster0.xxxxx.mongodb.net/?retryWrites=true&appName=Cluster0
# MONGODB_DB_NAME=waste_db
PORT=3001
